body {
  font-family: Arial, sans-serif;
}

#map {
  height: 400px;
  width: 100%;
  position: relative;
}

.chart-container {
  height: 300px;
}

#map-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
